{% extends "cv/base.html" %}
{% load i18n %}

{% block title %}{% trans "CV | Галичкин Олег" %}{% endblock %}

{% block content %}

    <div class="container-lg pt-3">
        <h2>{% trans 'Основная информация' %}</h2>

        <div class="row pt-2 pb-3">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="font-weight-bold">{% trans "Проживание" %}:</span>
                        {% trans "Санкт-Петербург, м.Лесная" %}
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold">{% trans "Гражданство" %}:</span>
                        {% trans "Россия" %}
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold">{% trans "Занятость" %}:</span>
                        {% trans "Стажировка, частичная занятость (20 часов в неделю)" %}
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold">{% trans "График работы" %}:</span>
                        {% trans "Удаленная работа, гибкий график" %}
                    </li>
                    <li class="list-group-item">{% trans "Не готов к переезду, не готов к командировкам" %}</li>
                </ul>
            </div>
        </div>

        <hr>

        <h2>{% trans "Опыт работы" %}</h2>

        <div class="row pt-2 pb-3">
            {% for work in works %}
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {% if LANGUAGE_CODE == "en" %}{{ work.name_en }}{% else %}{{ work.name }}{% endif %}">
                            </h5>
                            <h6 class="card-title">
                                {% if LANGUAGE_CODE == "en" %}{{ work.time_en }}{% else %}{{ work.time }}{% endif %}">
                            </h6>
                            {% if LANGUAGE_CODE == "en" %}{{ work.descr_en }}{% else %}{{ work.descr }}{% endif %}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>

        <h2>{% trans 'Образование' %}</h2>
        <div class="row py-2">
            <div class="col-sm-6 p-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Major</h5>
                        <p class="card-text">{% trans 'НИУ ВШЭ СПб, Экономика, 2018 - н.в.' %}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Minor</h5>
                        <p class="card-text">{% trans 'НИУ ВШЭ СПб, Computer Science, 2019 - н.в.' %}</p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h2>{% trans "Навыки" %}</h2>
        <small>{% trans "Кликните на навык, чтобы увидеть подробности" %}</small>

        <div class="row">
            <div class="col-sm-6 p-2">
                <h5 class="pt-2 px-2">Backend</h5>
                <div class="card">
                    <div class="card-body">
                        {% for skill in backend %}
                            <span class="code" data-toggle="tooltip" data-placement="bottom" title="

                             {% if LANGUAGE_CODE == "en" %}{{ skill.descr_en }}{% else %}{{ skill.descr }}{% endif %}">

                            {% if forloop.last %}
                                {{ skill.name }}</span>
                            {% else %}
                                {{ skill.name }}</span>,&ensp;
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>

                <h5 class="pt-2 px-2">Frontend</h5>
                <div class="card">
                    <div class="card-body">
                        {% for skill in frontend %}
                            <span class="code" data-toggle="tooltip" data-placement="bottom" title="
                            {% if LANGUAGE_CODE == "en" %}{{ skill.descr_en }}{% else %}{{ skill.descr }}{% endif %}">
                                {% if forloop.last %}
                                    {{ skill.name }}</span>
                                {% else %}
                                    {{ skill.name }}</span>,&ensp;
                                {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-sm-6 p-2">
                <h5 class="pt-2 px-2">Data Science/ML/Data Parsing</h5>
                <div class="card">
                    <div class="card-body">
                        {% for skill in ds %}
                            <span class="code" data-toggle="tooltip" data-placement="bottom" title="

                            {% if LANGUAGE_CODE == "en" %}{{ skill.descr_en }}{% else %}{{ skill.descr }}{% endif %}">
                            {% if forloop.last %}
                                {{ skill.name }}</span>
                            {% else %}
                                {{ skill.name }}</span>,&ensp;
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <h5 class="pt-2 px-2">{% trans 'Другое' %}</h5>
                <div class="card">
                    <div class="card-body">
                        {% for skill in general %}
                            <span class="code" data-toggle="tooltip" data-placement="bottom" title="

                            {% if LANGUAGE_CODE == "en" %}{{ skill.descr_en }}{% else %}{{ skill.descr }}{% endif %}">
                            {% if forloop.last %}
                                {{ skill.name }}</span>
                            {% else %}
                                {{ skill.name }}</span>,&ensp;
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h2>{% trans "Проекты и достижения" %}</h2>

        <div class="row py-2">
            {% for proj in projects %}
                <div class="col-sm-6 p-2">
                    <div class="card h-100 d-flex">
                        <div class="card-body d-flex flex-column">
                            {% if LANGUAGE_CODE == "en" %}
                                <h5 class="card-title">{{ proj.name_en }}</h5>
                                <p class="card-text">{{ proj.descr_en }}</p>
                            {% else %}
                                <h5 class="card-title">{{ proj.name }}</h5>
                                <p class="card-text">{{ proj.descr }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <p class="card-text"><small class="text-muted">{{ proj.stack }}</small></p>
                            {% if proj.hasLink %}
                                <a href="{{ proj.link }}"
                                   class="btn btn-outline-dark btn-sm align-self-end">{% trans 'Посмотреть' %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>

        <h2>Soft skills</h2>

        <div class="row py-2">
            {% for soft in softs %}
                <div class="col-sm-6 p-2">
                    <div class="card h-100">
                        <div class="card-body">
                            {% if LANGUAGE_CODE == "en" %}
                                <h5 class="card-title">{{ soft.name_en }}</h5>
                                <p class="card-text">{{ soft.descr_en }}</p>
                            {% else %}
                                <h5 class="card-title">{{ soft.name }}</h5>
                                <p class="card-text">{{ soft.descr }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>

        <h2>{% trans "Языки" %}</h2>

        <div class="row pt-2 pb-3">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {% trans "Английский, C1-C2, свободно разговариваю" %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}