{% extends "base.html" %}

{% block title %}Обо мне{% endblock %}

{% block content %}
    <div class="container-lg">
        <h2>Образование</h2>
        <div class="row py-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Major</h5>
                        <p class="card-text">НИУ ВШЭ СПб, ОП "Экономика", 2018 - н.в.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Minor</h5>
                        <p class="card-text">НИУ ВШЭ СПб, Computer Science, 2019 - н.в.</p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h2>Навыки</h2>

        <div class="row pt-2">
            <div class="col-sm-6">
                <h5 class="pt-2">Python</h5>
                <ul class="list-group">
                    {% for skill in skills %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ skill.name }}
                            <small>{{ skill.descr }}</small>
                            <span class="badge badge-primary badge-pill">{{ skill.level }}/10</span>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="col-sm-6">
                <h5 class="pt-2">Web</h5>
                <ul class="list-group">
                    {% for web_skill in web %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ web_skill.name }}
                            <small>подпись</small>
                            <span class="badge badge-primary badge-pill">{{ web_skill.level }}/10</span>
                        </li>
                    {% endfor %}
                </ul>
                <h5 class="pt-2">Общее</h5>
                <ul class="list-group">
                    {% for gen in general %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ gen.name }}
                            <small>подпись</small>
                            <span class="badge badge-primary badge-pill">{{ gen.level }}/10</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

{% endblock %}