#about-container {
    height: calc(100vh - 4rem);
}

nav {
    height: 4rem;
}

.avatar {
    margin: 10px;
    border-radius: 50%;
}

.social {
    margin: 20px 40px 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.social i {
    font-size: 30px;
    margin: 0 5px;
}

.bottom-space {
    margin-bottom: 30px;
}

a {
    color: #40abf7;
}

a:hover {
    color: #168ce0;
}