#about-container {
    height: calc(100vh - 4rem);
}

nav {
    height: 4rem;
}

.avatar {
    margin: 10px;
    border-radius: 50%;
    height: 33vh;
}

.social {
    margin: 20px 40px 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.social i {
    font-size: 30px;
    margin: 0 5px;
}

.bottom-space {
    margin-bottom: 30px;
}

.my-color {
    color: #40abf7;
}

.my-color:hover {
    color: #168ce0;
}

.white-link, .white-link:hover, .white-link:active {
    color: white;
}

.language-button {
    width: 45px;
    height: 45px;
    margin-bottom: -25px;
    margin-top: -9px;
    align-self: flex-end;
    border-radius: 50%;
    border-color: white;
    text-align: center;
}

.code {
    font-family: 'Source Code Pro', monospace;
    display: inline;
    white-space: nowrap;
}

.stack {
    flex-grow: 0.7;
}