{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f2af3919b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "/CSS/styles.css" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "/favicon/site.webmanifest" %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">OG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'about' %}">Обо мне</a>
{#                <a class="nav-link" href="{%  url 'skills' %}">Скиллы</a>#}
{#                <a class="nav-link" href="#">Проекты</a>#}
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid" id="about-container">
    <div class="row">
        <div class="col-sm-3 bg-dark sidebar">
            <img class="rounded-circle mx-auto d-block img-fluid avatar" src="{% static "avatar.jpg" %}" id="avatar" alt="Мое фото">
            <p class="h3 bio">Галичкин Олег</p>
            <p class="h6 bio bottom-space">20 лет</p>
            <p class="h6 bio">Студент НИУ ВШЭ СПб</p>
            <p class="h6 bio bottom-space">Python-программист</p>
            <p class="h6 bio">+7 (911) 932-65-77</p>
            <p class="h6 bio"><a href="mailto:galij899@yandex.ru">galij899@yandex.ru</a></p>
            <div class="social">
                <a href="https://vk.com/galij899"><i class="fab fa-vk"></i></a>
                <a href="https://github.com/galij899"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="col-sm-9 pt-3">
            {% block content %}
            {% endblock %}
       </div>
    </div>
</div>
</body>
</html>